
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 300px;
}

.carousel {
      height: 500px;
    }
    .carousel-inner>.item>a>img, .carousel-inner>.item>img {
     
      height: 500px;
  }

@media only screen and (max-width: 1026px) {
    .carousel {
    	min-height: 220px;
    	height: auto;
    }
    .carousel-inner>.item>a>img, .carousel-inner>.item>img {
    	min-height: 220px;
    	height: auto;
	}
}